branches:
  only:
    - master

cache:
  directories:
    - $HOME/.portage-pkgdir

install:
  - travis_wait 20 pip install -r requirements.txt

matrix:
  include:
    language: python
    python: 2.7
    script:
      - pytest
